.last-a{
    font-size: 30px;
    color: #6e6e6e;
    margin-top: 10px;
    margin-left: 885px;
    text-decoration: none;
    font-family: monospace;
    border-style: solid;
    border-right-style: none;
    border-left: none;
    margin-bottom: 10px;
}